<p style="color: green"><%= notice %></p>

<%= render @model %>

<div>
  <%= link_to "Edit this car mod el", edit_model_path(@model) %> |
  <%= link_to "Back to car mod els", models_path %>

  <%= button_to "Destroy this car model", @model, method: :delete %>
</div>
