<div id="<%= dom_id employee %>">
  <p>
    <strong>Nome:</strong>
    <%= @employee.name %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= employee.phone %>
  </p>

  <p>
    <strong>Contract date:</strong>
    <%= employee.contract_date %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position.description %>
  </p>

</div>
