<p style="color: green"><%= notice %></p>

<%= render @brand %>

<div>
  <%= link_to "Edit this car brand", edit_brand_path(@brand) %> |
  <%= link_to "Back to car brands", brands_path %>

  <%= button_to "Destroy this car brand", @brand, method: :delete %>
</div>
