<div id="<%= dom_id location %>">
  <p>
    <strong>Start date:</strong>
    <%= location.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= location.end_date %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= location.total %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= location.customer_id %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= location.car_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= location.employee_id %>
  </p>

</div>
